{% extends 'template.html.twig' %}

{% block title %}{{ 'Reset_Title_Form'|trans }}{% endblock %}

{% block body %}
    <div class="page-header header-filter" style="background-image: url({{ asset('pictures/background.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card text-center">
                        <div class="card-body">
                            <form method="post">
                                <h3>{{ 'Reset_Title_Form'|trans }}</h3>
                                {% for message in app.flashes('error') %}
                                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                                {% endfor %}
                                <div class="form-group">
                                    <label for="{{ 'Reset_Password_Label_For'|trans }}">{{ 'Reset_Password_Label'|trans
                                        }}</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                                </div>
                                <input type="hidden" name="token" value="{{ csrf_token('authenticate') }}">
                                <button class="btn btn-lg btn-dark-blue" type="submit">{{
                                    'Reset_Connection_Button'|trans }}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}