{% extends 'template.html.twig' %}

{% block title %}{{ 'Reset_Title_Email'|trans }}{% endblock %}

{% block body %}
	<div class="page-header header-filter" style="background-image: url({{ asset('pictures/background.jpg') }})">
		<div class="container">
			<div class="row">
				<div class="col-md-6 mx-auto">
					<div class="card text-center">
						<div class="card-body">
							<form method="post">
								<h3>{{ 'Reset_Title_Form_Email'|trans }}</h3>
								{% for message in app.flashes('error') %}
									<div class="alert alert-danger" role="alert">{{ message }}</div>
								{% endfor %}
								<div class="form-group">
									<label for="{{ 'Reset_User_Label_For'|trans }}">{{ 'Reset_User_Label'|trans
										}}</label>
									<input type="text" name="username" id="inputUsername" class="form-control" required autofocus>
								</div>
								<div class="form-group">
									<label for="{{ 'Reset_Email_Label_For'|trans }}">{{ 'Reset_Email_Label'|trans
										}}</label>
									<input type="text" name="email" id="inputEmail" class="form-control" required autofocus>
								</div>
								<input type="hidden" name="token" value="{{ csrf_token('authenticate') }}">
								<button class="btn btn-lg btn-dark-blue" type="submit">{{ 'Reset_Connection_Button_Email'|trans }}</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}