{% for comment in comments %}
	<div class="card col-elt">
		<div class="media">
			{% if comment.user.picture is null %}
				<img class="align-self-center mx-3 my-2 img-thumbnail" src="{{ asset('profil_directory/default.png') }}" alt="Generic placeholder image">
			{% else %}
				<img class="align-self-center mx-3 my-2 img-thumbnail" src="{{ asset('profil_directory/'~user.picture) }}" alt="Generic placeholder image">
			{% endif %}
			<div class="media-body">
				<h5>{{ comment.user.username ~ ' - ' ~ comment.date|date('d/m/Y') }}</h5>
				<p>{{ comment.content }}</p>
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					{% if is_granted('ROLE_ADMIN') or app.user.username == comment.user.username %}
						<hr>
						<div class="d-flex">
							<div class="p-2"><a class="modal-delete-comment" data-placement="top" data-toggle="modal" data-target="#deleteModal" data-path="{{ path('trick_comment_delete', {'id' : trick.id ,'slug' : trick.slug}) }}" data-deleted-elt="{{ trick.name }}"><span data-toggle="tooltip" title="{{ 'Delete_Comment_Icon'|trans }}" data-placement="top" class="material-icons">delete</span></a></div>
							{% if is_granted('ROLE_ADMIN') and app.user.username != trick.user.username %}
								<div class="p-2"><a class="modal-delete-user" data-placement="top" data-toggle="modal" data-target="#deleteModal" data-path="{{ path('trick_user_delete', {'id' : trick.id ,'slug' : trick.slug}) }}" data-deleted-elt="{{ comment.user.username }}"><span data-toggle="tooltip" title="{{ 'Moderate_User_Icon'|trans }}" data-placement="top" class="material-icons">close</span></a></div>
							{% endif %}
						</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
{% endfor %}