<nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand navbar-color-on-scroll" color-on-scroll="100" href="{{ path('home') }}">
                Snow Tricks</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ path('home') }}" class="nav-link">
                        {{ 'Home'|trans }}
                    </a>
                </li>
                {% if app.request.get('_route') == 'home' %}
                    <li class="nav-item">
                        <a class="nav-link" href="#trick">
                            {{ 'Tricks'|trans }}
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}#trick">
                            {{ 'Tricks'|trans }}
                        </a>
                    </li>
                {% endif %}

                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('trick_create') }}">
                            {{ 'Tricks_Create'|trans }}
                        </a>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                            {{ 'User_Account_Options'|trans }}
                            <div class="ripple-container"></div></a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a class="nav-link" href="{{ path('app_logout') }}">
                                {{ 'Log out'|trans }}
                            </a>
                            <a class="nav-link" href="{{ path('app_forgot_password') }}">
                                {{ 'Reset_Password'|trans }}
                            </a>
                            {#
                            <a class="nav-link" href="">
                                {{ 'Change_Profil_Picture'|trans }}
                            </a>#}
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">
                            {{ 'Sign in'|trans }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_registration') }}">
                            {{ 'Sign up'|trans }}
                        </a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>