{% macro delete_modal(name, slug) %}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
     aria-labelledby="ModalDelete"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form action="{{ path('trick_delete', {'slug' : slug }) }}" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalDelete">{{ 'Modal_Delete_Title'|trans }}</h5>
                </div>
                <div class="modal-body">
                    <p>{{ 'Modal_Delete_Confirmation'|trans({'name' : name}) }}</p>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete_token') }}">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Form_Delete_Button_Dismiss'|trans }}</button>
                    <button type="submit"  name="delete" class="btn btn-dark-blue">{{
                        'Form_Delete_Button_Confirm'|trans
                        }}</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endmacro %}