{% extends 'template.html.twig' %}

{% block title %}{{ 'Meta_Title_Trick_Edit'|trans }}{% endblock %}

{% block body %}

<section class="page-header header-filter" style="background-image: url({{ asset('pictures/background.jpg') }})">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1>Snow Tricks</h1>
                    <h3>{{ 'Trick_Title_Description'|trans }}</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main main-raised alt-main">
    <div class="container">
        <div class="section text-center">
            <h3>{{ 'Trick_Title_Form'|trans }}</h3>
        </div>
        <div class="col-md-12">
            {{ form_start(form) }}
            <div class="form-group">
                <label for="{{ 'Form_Label_For_Name'|trans }}">{{ 'Form_Label_Name'|trans }}</label>
                {{ form_widget(form.name, {'attr': {'placeholder': 'Form_Trick_Name' }}) }}
            </div>
            <div class="form-group">
                <label for="{{ 'Form_Label_For_Descritpion'|trans }}">{{ 'Form_Label_Description'|trans }}</label>
                {{ form_widget(form.description) }}
            </div>
            <div class="form-group">
                <label for="{{ 'Form_Label_For_Main_Picture'|trans }}">{{ 'Form_Label_Main_Picture'|trans }}</label>
                {{ form_widget(form.picture) }}
            </div>
            <div class="form-group">
                <label for="{{ 'Form_Label_For_Category'|trans }}">{{ 'Form_Label_Category'|trans }}</label>
                {{ form_widget(form.category) }}
            </div>
            <div class="form-group">
                <label for="{{ 'Form_Label_For_Picture'|trans }}">{{ 'Form_Label_Picture'|trans }}</label>
                <div class="add-input-picture" data-prototype="{% apply escape %}{{ form_widget(form.pictures.vars.prototype.fileName, {'attr' : {'placeholder' : 'Form_Trick_Picture'}})
                }}{% endapply %}">
                {% for formPicture in form.pictures %}
                    {{ form_widget(formPicture.fileName, {'attr' : {'placeholder' : 'Form_Trick_Picture'}}) }}
                {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ 'Form_Label_For_Video'|trans }}">{{ 'Form_Label_Video'|trans }}</label>
                <div class="add-input-video" data-prototype="{% apply escape %}{{ form_widget(form.videos.vars.prototype.embed, {'attr' : {'placeholder' : 'Form_Trick_Video'}}) }}{% endapply %}">
                {% for formVideo in form.videos %}
                    {{ form_widget(formVideo.embed, {'attr' : {'placeholder' : 'Form_Trick_Video'}}) }}
                {% endfor %}
                </div>
            </div>
            <div class="footer text-center">
                <input type="submit" class="btn btn-primary btn-link btn-wd btn-lg" value="{{
                'Form_Trick_Submit'|trans }}">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_link_tags('collection') }}
{% endblock %}