{% extends 'template.html.twig' %}

{% block title %}{{ 'Meta_Title_Trick_Edit'|trans }}{% endblock %}

{% block body %}

<section class="page-header header-filter" style="background-image: url({{ asset('pictures/background.jpg') }})">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1>Snow Tricks</h1>
                    <h3>{{ 'Trick_Title_Description'|trans }}</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main main-raised alt-main">
    <div class="container">
        <div class="section text-center">
            <h3>{{ 'Trick_Title_Form'|trans }}</h3>
        </div>
        <div class="col-md-12">
            {{ form_start(form) }}
            <div class="form-group">
                <label for="{{ 'Form_Label_For_Name'|trans }}">{{ 'Form_Label_Name'|trans }}</label>
                {{ form_widget(form.name, {'attr': {'placeholder': 'Form_Trick_Name', 'class': 'form-control' }}) }}
            </div>
            <div class="form-group">
                <label for="{{ 'Form_Label_For_Descritpion'|trans }}">{{ 'Form_Label_Description'|trans }}</label>
                {{ form_widget(form.description, {'id' : 'editor_field','attr' : {'placeholder' :
                    'Form_Trick_Description',
                    'class'
                    :'form-control'}}) }}
            </div>

            <div class="form-group form-file-upload form-file-multiple">
                {{ form_widget(form.picture, {'attr' : {'class' : 'form-control inputFileHidden'}}) }}
                <div class="input-group">
                    <input type="text" class="form-control inputFileVisible" placeholder="Multiple Files" multiple>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-fab btn-round btn-info">
                            <i class="material-icons">layers</i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ 'Form_Label_For_Category'|trans }}">{{ 'Form_Label_Category'|trans }}</label>
                {{ form_widget(form.category, {'attr' : {'class' : 'form-control'}}) }}
            </div>
            <div class="form-group form-file-upload form-file-multiple">
                {{ form_widget(form.pictures, {'attr' : {'class' : 'form-control inputFileHidden'}}) }}
                <div class="input-group">
                    <input type="text" class="form-control inputFileVisible" placeholder="Multiple Files" multiple>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-fab btn-round btn-info">
                            <i class="material-icons">layers</i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ 'Form_Label_For_Video'|trans }}">{{ 'Form_Label_Video'|trans }}</label>
                <div class="add-video" data-prototype="{% apply escape %}{{ form_widget(form.videos.vars.prototype
                    .embed, {'attr' : {'placeholder' : 'Form_Trick_Video', 'class' : 'form-control'}}) }}{% endapply
                %}">
                {% for formVideo in form.videos %}
                    <div class="add-video-block">
                        {{ form_widget(formVideo.embed, {'attr' : {'placeholder' : 'Form_Trick_Video'}}) }}
                    </div>
                {% endfor %}
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-sm add_tag_link_video">{{ 'Form_Button_Add_Video'|trans }}</button>
                </div>
            </div>
            <div class="footer text-center">
                <input type="submit" class="btn btn-dark-blue btn-wd btn-lg" value="{{
                'Form_Trick_Submit'|trans }}">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('collection') }}
{% endblock %}